body {
    width: 300px;
    max-height: 300px;
    color: #0D425A;
    background-color: #F6F1F1;

    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

img {
    max-width: 100%;
}

h1 {
    font-weight: normal;
    margin: 20px 10px;
}

p {
    margin: 20px 10px;
}

b {
    font-weight: bolder;
}

.descriptionAndButton{
    align-self: flex-end;
}

button{
    color: white;
    background-color: #19A7CE;
    border: none;
    width: 80%;
    border-radius: 30px;
    font-size: 1.5rem;
    padding: 10px 0;
    margin: 20px;
    box-shadow: 2px 2px 4px rgba(106, 106, 106, 0.5);
    font-weight: 500;
}

button:active {
    background-color: #146C94;
    box-shadow: -2px -2px 4px rgb(255, 255, 255);
}