* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #F6F1F1;
}

h1, h2, h3, h4, h5, a, p {
    color: #0D425A;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 6rem;
    letter-spacing: 0.3vw;
}

p,a {
    font-size: 2rem;
    transition: 0.5s ease-in-out;
}

nav img {
    max-width: 3vw;
    max-height: 3vw;
}

nav div {
    display: flex;
    align-items: center;
}

main a {
    color: white;
    background-color: #19A7CE;
    border: none;
    border-radius: 8vw;
    padding: 1.4vw 2.8vw;
    text-decoration: none;
    box-shadow: 2px 2px 4px rgba(106, 106, 106, 0.5);
    transition: 0.5s ease-in-out;
    min-width: 30vw;
    text-align: center;
}

.buttons {
    display: flex;
    gap: 10vw;
    margin-top: 16vh;
}

main a:hover {
    background-color: #146C94;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #19A7CE;
    padding: 1.3vw;
    color: #F6F1F1;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 1vw;
    font-weight: bolder;
    font-size: 1.5rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6vw;
}

main h1 {
    margin-bottom: 0px;
    margin-top: 3vh;
}


ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

li {
    display: flex;
    gap: 10vw;
    border-style: solid;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #19A7CE;
    padding: 3vh 5vw 3vh 5vw;

    color: #F6F1F1;
}

footer p {
    color: #fff;
}

/* WEBSITES LIJST STYLING */
li p {
   margin: 2vw;
}